[submodule "submodules/VERSAT"]
	path = submodules/VERSAT
	url = git@github.com:IObundle/iob-versat.git
[submodule "submodules/ETHERNET"]
	path = submodules/ETHERNET
	url = git@github.com:IObundle/iob-eth.git
[submodule "submodules/OpenLane"]
	path = submodules/OpenLane
	url = https://github.com/The-OpenROAD-Project/OpenLane.git
[submodule "submodules/IOBSOC"]
	path = submodules/IOBSOC
	url = git@github.com:IObundle/iob-soc.git
